
body {
    text-decoration: none;
    color: #000000;
}

header {
    background-color: #494D5F;
    color: #E5EAF5;
    padding: 20px;
}

header img {
    float: left;
    margin: 20px 10px 10px 10px;
}

div#wrapper {
    margin: 0px;
}



nav {
    margin: 0px 0px 0px 0px;
    top: 0px;
    background-color: #E5EAF5;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 15px;;
}



nav a {
    text-decoration: none;
    color: black;
}

div#content {
    display: table-cell;
    background-color: #fffffe;
    padding: 30px;

}

div#content img{
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    text-align: center;
    padding: 40px 0px 40px 0px;
    background-color: #494D5F;
    color: #E5EAF5;

}

.felkov{
    font-weight: bold;
}

.legalDisclaimer{
    color: #64656b;
    font-size: 12pt;
}

.padBot30{
    padding-bottom: 30px;
}